body {
  background-color: rgba(243, 44, 101);
  text-align: center; 
}

.h1-estilo {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  padding: 40px 50%; 
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: transparent;
}

.h2-estilo {
  color: white;
  font-weight: bold;
  font-size: 2em;
  padding: 100px 0px;
  margin-top: -40px;
  text-align: left;
}

.h3-estilo {
    color: rgba(243, 44, 101);
    text-align: right;
    font-size: 1.5em;
    border-bottom: 3px dotted rgba(243, 44, 101); 
}

.h4-estilo {
    color: rgba(243, 44, 101);
    text-align: right;
    font-size: 1.5em;
    border-bottom: 3px dotted rgba(243, 44, 101); 
}

.contenedor-mario-kart {
  background-color: white;
  width: 100%; 
  margin: 0;
  padding: 40px 60px;
  box-sizing: border-box; 
  text-align: left; 
  margin-top: -80px;
}
  
.img-mario {
  width: 100%;
  height: 1000px;
  display: block;
}

.img-mortal-combat {
    width: 100%;
    height: 1000px;
    display: block;
}
.margen-div {
    margin: 2rem 4rem;
    text-align: center;
}  

.button-estilo {
    display: block; 
    margin: 20px auto;
    width: fit-content;
    text-align: center;       
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(38, 127, 31);
    color: white;
    font-size: 15px;
    border: none;
    font-weight: bold;          
    cursor: pointer;            
    transition: 0.3s ease;   
    text-decoration: none;    
}

.button-cancelar-compra {
    display: block; 
    margin: 20px auto;
     width: fit-content;
    text-align: center;       
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(136, 38, 38);
    color: white;
    font-size: 15px;
    border: none;
    font-weight: bold;          
    cursor: pointer;            
    transition: 0.3s ease;   
    text-decoration: none;
}
.button-estilo:hover {
    background-color: rgba(243, 44, 101);
}

.contenedor-mortal-combat {
  background-color: white;
  width: 100%; 
  margin: 0;
  padding: 40px 60px;
  box-sizing: border-box; 
  text-align: left; 
  margin-top: 40px;
}

.h5-estilo {
    color: white;
    background-color: rgba(233, 96, 147);
    text-align: center;
    font-size: 1em;
    padding: 20px;
    margin-top: 50px;
}

.h6-estilo {
  color: rgba(243, 44, 101);
  text-align: right;
  font-size: 1.5em;
}
