@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(44 44 44);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.h1-estilo {
    color: rgb(255 224 151);
    background-color: rgb(17 17 17);
}

.h2-estilo {
    color: rgb(255 224 151);
    text-align: left;
    background-color: rgb(17 17 17);
}

.h3-estilo {
    color: rgb(255 224 151);
    text-align: left;
    background-color: rgb(17 17 17);
}

.h4-estilo {
    color: rgb(255 224 151);
    text-align: left;
    background-color: rgb(17 17 17);
}

.contenedor-mario-kart {
    background-color: rgb(17 17 17);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(255 224 151);
    gap: 20px;
    padding: 20px;
    
}

.contenedor-mortal-combat {
   background-color: rgb(17 17 17);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(255 224 151);
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    text-align: left;
}


.img-mario {
    width: 50%;
    display: block;
}

.img-mortal-combat {
    width: 50%;
    display: block;

}

.button-estilo {
    display: inline-block;
    margin: 20px auto;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(255, 238, 0);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.button-cancelar-compra {
    display: inline-block;
    margin: 20px auto;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(79, 0, 116);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.button-estilo:hover {
    background-color: rgb(155, 152, 0);
}

.h5-estilo { 
    color: white;
    text-align: center;
    background-color: rgb(17 17 17);

}